<div class="page-header table-header">
    <h2><span ng-bind="$ctrl.title"></span> <span class="label label-info" ng-bind="$ctrl.users.length"></span></h2>
</div>

<div class="well">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Status</th>
            <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in $ctrl.users">
            <td>
                <a href="#!/users/{{user.id}}" ng-bind="user.id"></a>
            </td>
            <td ng-bind="user.name"></td>
            <td class="text-center" ng-bind="user.age"></td>
            <td class="text-center" ng-bind="user.status"></td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-xs btn-delete-user" ng-click="$ctrl.deleteUser(user.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-create-user">Добавить нового юзера</button>
</div>
