body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

.label {
  padding: .2em .5em .1em;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
  padding: 10px;
}

.table-header--element {
  .users-list-form,
  .btn-create-user {
    margin: 22px auto 8px;
  }
}

.well-element-block {
  padding: 0 8px;
}

.container {
  padding-bottom: 150px;
}

.btn {
  &-delete-user {
    .glyphicon {
      top: 2px;
    }
  }
}