<div class="page-header table-header">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><span ng-bind="$ctrl.title"></span></h2>
        </div>
    </div>
</div>

<div class="row">
    <!--<div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <ul class="list-group">
            <li class="list-group-item">
                <a class="" href="#" role="button">Cras justo odio</a>
            </li>
            <li class="list-group-item">
                <a class="" href="#" role="button">Dapibus ac facilisis in</a>
            </li>
            <li class="list-group-item">
                <a class="" href="#" role="button">Morbi leo risus</a>
            </li>
            <li class="list-group-item">
                <a class="" href="#" role="button">Porta ac consectetur ac</a>
            </li>
            <li class="list-group-item">
                <a class="" href="#" role="button">Vestibulum ateros</a>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="" href="#" role="button">Cras justo odio</a>
                    </li>
                    <li class="list-group-item">
                        <a class="" href="#" role="button">Dapibus ac facilisis in</a>
                    </li>
                    <li class="list-group-item">
                        <a class="" href="#" role="button">Morbi leo risus</a>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <a class="" href="#" role="button">Cras justo odio</a>
                            </li>
                            <li class="list-group-item">
                                <a class="" href="#" role="button">Dapibus ac facilisis in</a>
                            </li>
                            <li class="list-group-item">
                                <a class="" href="#" role="button">Morbi leo risus</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a class="" href="#" role="button">Porta ac consectetur ac</a>
                    </li>
                    <li class="list-group-item">
                        <a class="" href="#" role="button">Vestibulum at eros</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a class="" href="#" role="button">Lorem ipsum dolor sits</a>
            </li>
        </ul>
    </div>-->
    <!--<div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <ul class="products-list">
            <li class="products-list__item">
                <a class="products-list__item-link" href="#">Cras justo odio</a>
            </li>
            <li class="products-list__item">
                <a class="products-list__item-link" href="#">Dapibus ac facilisis in</a>
            </li>
            <li class="products-list__item">
                <a class="products-list__item-link" href="#">Morbi leo risus</a>
            </li>
            <li class="products-list__item">
                <a class="products-list__item-link" href="#">Porta ac consectetur ac</a>
            </li>
            <li class="products-list__item">
                <a class="products-list__item-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Vestibulum ateros</a>

                <ul class="products-list products-list&#45;&#45;internal-list" id="collapseExample">
                    <li class="products-list__item products-list__item&#45;&#45;internal-item">
                        <a class="products-list__item-link" href="#">Cras justo odio</a>
                    </li>
                    <li class="products-list__item products-list__item&#45;&#45;internal-item">
                        <a class="products-list__item-link" href="#">Dapibus ac facilisis in</a>
                    </li>
                    <li class="products-list__item products-list__item&#45;&#45;internal-item">
                        <a class="products-list__item-link" href="#">Morbi leo risus</a>

                        <ul class="products-list products-list&#45;&#45;internal-list">
                            <li class="products-list__item products-list__item&#45;&#45;internal-item">
                                <a class="products-list__item-link" href="#">Cras justo odio</a>
                            </li>
                            <li class="products-list__item products-list__item&#45;&#45;internal-item">
                                <a class="products-list__item-link" href="#">Dapibus ac facilisis in</a>
                            </li>
                            <li class="products-list__item products-list__item&#45;&#45;internal-item">
                                <a class="products-list__item-link" href="#">Morbi leo risus</a>
                            </li>
                        </ul>
                    </li>
                    <li class="products-list__item products-list__item&#45;&#45;internal-item">
                        <a class="products-list__item-link" href="#">Porta ac consectetur ac</a>
                    </li>
                    <li class="products-list__item products-list__item&#45;&#45;internal-item">
                        <a class="products-list__item-link" href="#">Vestibulum at eros</a>
                    </li>
                </ul>
            </li>
            <li class="products-list__item">
                <a class="products-list__item-link" href="#">Lorem ipsum dolor sits</a>
            </li>
        </ul>
    </div>-->

    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <ul class="products-list">
            <li class="products-list__item" ng-repeat="product in $ctrl.products">
                <a class="products-list__item-link" href="" ng-bind="product.element"></a>
                <ul class="products-list products-list--internal-list" ng-if="product.subElement" ng-class=""><!--Первый уровень вложенности-->
                    <li class="products-list__item products-list__item--internal-item" ng-repeat="product in product.subElement">
                        <a class="products-list__item-link" href="" ng-bind="product.element"></a>
                        <ul class="products-list products-list--internal-list" ng-if="product.subElement" ng-class=""><!--Второй уровень вложенности-->
                            <li class="products-list__item products-list__item--internal-item" ng-repeat="product in product.subElement">
                                <a class="products-list__item-link" href="" ng-bind="product.element"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--<ang-accordion icon-position="left" close-icon-url="../images/right-icon.png" open-icon-url="../images/down-icon.png">

        <collapsible-item item-title="Heading 1" initially-open="true">
            <h3>This is regular html</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </collapsible-item>

        <collapsible-item item-title="Heading 2">
            <h3>This is some more regular html</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </collapsible-item>

        <collapsible-item item-title="Heading 3" item-disabled="true">
            <h3>This is some more regular html</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </collapsible-item>

    </ang-accordion>-->

    <!--<script type="text/javascript">
        app = angular.module('demo', ['angAccordion']);
    </script>-->
</div>